.container {
  padding-bottom: 100px;
  display: flex;
}

.no_reviews {
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: red;
  display: flex;
  justify-content: center; /* Горизонтальне центрування */
  align-items: center; /* Вертикальне центрування */
  text-align: center;
  height: 100%; /* Якщо батьківський блок має висоту, то ця опція виконується */
}
