.container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.gallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.galleryItem {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.galleryItem-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galleryItem-image:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.searchbar {
  top: 0;
  left: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #fff;

  background-image: linear-gradient(to right, red 20%, black 60%);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.form {
  display: flex;
  align-items: center;
  min-width: 100px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.form-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-image: url('./search-svgrepo-com\ \(1\).svg'); /* Замініть на вірний шлях */
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border: none;
  outline: none;
  padding-left: 8px;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
}
